/* .navbar {
    margin-bottom: 0;
  }
  
  .navbar-collapse .container-fluid {
    padding: 2rem 2.5rem;
    border-bottom: 1px solid #55595c;
  }
  
  .navbar-collapse h4 {
    color: #818a91;
  }
  
  .navbar-collapse .text-muted {
    color: #818a91;
  }
   */